<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="site-footer-inner">
        {%- assign currentYear = 'now' | date: "%Y" -%}
        {%- assign copyright = site.copyright
            | replace: '{currentYear}', currentYear
            | replace: '{author}', site.author
            | replace: '(c)', '&copy;'
            | replace: '(p)', '℗'
            | replace: '(cleft)', '<span class="copyleft">&copy;</span>'
        -%}
      <div>{{ copyright }}</div>
      <div>GitHub adress: 
        <a title="Junghoo GitHub 주소" target="_blank" href="https://github.com/jjunghoo">
          <address>jjunghoo.github.com</address>
        </a>
      </div>
      <div class="footer-col rss-subscribe">Email: 
        <a href="mailto:wjdgn1115@gmail.com"><address>wjdgn1115@gmail.com</address></a>
      </div>
    </div>
  </div>
</footer>
